.banner-info {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.banner-info img {
    width: 80%;
    margin-left: 30px;
}

.banner-info img:hover {
    width: 83%;
}



.book-info {
    margin-right: 20px;
    ;
}

.book-info h1 {
    color: blueviolet
}

.read-button {
    color: blueviolet
}

.read-button:hover {
    color: white;
    background-color: blueviolet;
}